body {
  // height: 100vh;
  width: 100%;
  min-width: 1000px;
  

  .Page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .Nav-functionality{ 
      display: flex;

      .logo-image {
        width: 50px;
        margin-left: 30px;

        // Animating attempt - coming back to it later 

        //   position: relative;
        //   animation: mymove 1s;
        //   animation-delay: 1s;
        //   animation-fill-mode: both;
        
        // @keyframes mymove {
        //   from {top: 0px; background-color: white;}
        //   to {top: 0px; background-color: white; width: 100px; height: 100px; background: red;}
        // }  
      }

      .Nav {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        color: white;
        position: relative;
        box-shadow: 0px 5px 10px #999;
      }
    
      .Nav-logo-title {
        display: flex;
        align-items: center;
    
        .Nav-title {
          text-decoration: none;
          color: white;
          align-items: center;
          margin-left: 10px;
          padding-bottom: 20px;
          font-size: 26px;
          // font-family: 'Roboto Slab', serif;

        }
    
      }
    
      .Nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 30px;

        .Nav-button-background:hover {
          color: #1ECAAE;
          border-bottom-color: #1ECAAE;
          border-bottom-width: 5px;
          border-bottom-style: solid;
        }
    
        .Nav-button-background {
          background-color: black;
          border: none;
          height: 80px;
          padding: 0px;
          outline: none;
    
          .Nav-button {
            color: white;
            text-decoration: none;
            padding: 0px;
            margin-left: 20px;
            margin-right: 20px;
            border: none;
            height: 80px;
            padding-bottom: 20px;
          }

          .Nav-button:hover, .Nav-button:active {
            height: 80px;
          }
        }

        .avatar{
          background-color: black;
          border: none;
          height: 80px;
          padding: 0px;
          outline: none;
        }

        .avatar-image{
          width: 50px;
          height: 50px;
          margin-left: 20px;
        }
      } 
    }

    .Filter-Charts {
      display: flex;
      // justify-content: flex-start;
      min-height: calc(100vh - 80px);
      width: 100%;
      color: #F6F8FA;

      background-color: #F6F8FA;
      // height: 100%;
      align-items: stretch;
      height: max-content;

      .Filter {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        // height: 100%;
        justify-content: flex-start;

        .Filter-header {
          margin-top: 30px;
          // margin-left: 10px;
          width: 100px;
          color: black;
          font-size: 25px;
        }

        .Autocomplete{
          display: flex;
          margin: 10px;
        }

        .Age {
          display: flex;
          justify-content: space-between;
          margin: 10px;
        }

        .Age-title {
          display: flex;
          align-items: center;
          color: rgb(118, 118, 118);
        }
         
        .Age-box {
          width: 53px;
          height: 56px;
          border-radius: 3px;
          color: rgb(118, 118, 118);
          border-color: rgb(195, 195, 195);
          font-size: 17px;
          padding-left: 6px;
          padding-right: 5px;
        }

        .Age-box:hover, Age-box:active{
          border-color: black;
        }

        .Search-button:hover, .Search-button:active {
          box-shadow: 0px 0px 5px 5px #E9EBEC;
        }

        .Search-button{ 
          margin:10px;
          width: 280px;
          height: 56px;
          background-color: #18A493;
          letter-spacing: 0.00938em;
          border-radius: 3px;
          border-color: #18A493;
          border: solid;
          border-width: 0px;
          font-size: 17px;
          font-weight: bold;
          color: white;
        }
      }

      .Make-search {
        display: flex;
        background-color: white;
        width: 29em;
        padding: 2em;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
        border-radius: 5px;
        justify-content: center;
        margin-top: 86px;
        color: black;
        margin-left: 61px;
        height: 1em;
        align-items: center;
      }

      .chose-city{
        align-self: center;
        color: #ff5d39;
        margin-left: 80px;
        margin-top: 10px;
      }

      .Charts-section{
        // display: flex;
        // flex-direction: column;
        width: calc(100%-350px);
        margin: 50px;
        background-color: #F6F8FA;
        // overflow:auto; 
        color:black;
        margin-top: 30px;
       
      }

      .Charts-section h1 {
        font-size: 25px;
        margin-top: 0px;
      }

      .Chart{
        width: 80vh;
        // height: 80%;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
      }

      .category-buttons{
        margin-bottom: 20px;
        border-color: black;
      }

      .chart-buttons-all{
        display:flex;
        justify-content: space-between;
      }

      .save-search-button:hover, .save-search-button:active {
        box-shadow: 0px 0px 2px 2px lightgrey;
      }

      .save-search-button{
        height: 36px;
        border-radius: 3px;
        width: 100px;
        background-color: #18A493; 
        border-color: #18A493;
        border: solid;
        border-width: 0px;  
        color: white;
      }

      .facebook-api-error{
        margin: 100px;
        background-color: white;
        height: 400px;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
        color: black;
      }
    }

    .Access-page{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #F6F8FA;
      padding-top: 60px;
      min-height: calc(100vh - 80px);
      
      .Access-header{
        display: flex;
        margin-bottom: 10px;
        align-self: center;
        width: 100px;
      }
      .Access-form{
        width:280px;
        display:flex;
        flex-direction: column;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 3px;
        background-color: white;
        height: 320px;
      
        .Access-field{
            height: 56px;
            border-style: solid;
            border-width: thin;
            border-radius: 3px;
            color: rgb(118, 118, 118);
            border-color: rgb(195, 195, 195);
            font-size: 17px;
            padding-left:10px;
            margin:10px;
        }
        .Login-button{
            width: 260px;
            height: 56px;
            margin-left: 10px;
            margin-top:10px;
            background-color: #18A493;
            letter-spacing: 0.00938em;
            border-radius: 3px;
            border-color: #18A493;
            border: solid;
            border-width: 0px;
            font-size: 17px;
            font-weight: bold;
            color: white;
        }
      }
    }
  
    .Profile-save {
      display: flex;
      background-color: #F6F8FA;
      flex-direction: column;
      align-items: center;
      min-height: calc(100vh - 80px);
  
      .Profile-page{
        display: flex;
        flex-direction: column;
        margin: 60px;
        margin-bottom: 50px;

        .Profile-image{
          width: 50px;
          height: 50px;
          background-color: black;
          display: flex;
          border-radius: 50%;
          align-self: center;
          border: none;
          padding: 0px;
          outline: none;
        }
    
        .Profile-header, .Profile-username{
          display: flex;
          align-self: center;
        }
    
        .Profile-header{
          margin-bottom: 15px;
          font-size: 25px;
        }
      }

      .Search-notice {
        display: flex;
        background-color: white;
        width: 29em;
        padding: 2em;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
        border-radius: 5px;
        justify-content: center;
        margin-top: 45px;
      }
    
      .Saved-data {
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: calc(80% - 200px);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
    
        .Saved-info {
          display: flex;
          flex-direction: column;
          margin: 30px;
        }

        .Saved-info-label {
          margin-bottom: 20px;
          margin-top: 0px;
        }
      }
    }
  }

  .Landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .Landing-header {
      display: flex;
      flex-direction: column;
      background-color: #F6F8FA;
      padding-top: 75px;
      width: 100%;
      height: 700px;

      .Landing-h1 {
        font-size: 40px;
      }

      .Landing-h3 {
        margin-bottom: 40px;
      }

      .Landing-access {
        border: solid;
        text-decoration: none;
        margin-top: 1em;
        padding: 9px;
        background-color: #18A493;
        letter-spacing: 0.00938em;
        border-radius: 5px;
        border: solid;
        border-width: 0px;
        font-size: 12px;
        font-weight: bold;
        color: white;
        width: 100px;
        align-self: center;
        margin-bottom: 65px;
      }

      .Landing-preview-background {
        background-color: white;
        width: 60%;
        align-self: center;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: 10px;
        box-shadow: 0px 5px 10px #999;
      }

      .Landing-preview {
        width: 90%;
        align-self: center;
        border-radius: 10px;
      }
    }

    .Landing-features {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Landing-features-h2 {
        padding-top: 180px;
        font-size: 30px;
        // letter-spacing: 1px;
        margin-bottom: 0;
      }

      .Landing-features-divs {
        display: flex;
        flex-direction: row;
        padding-bottom: 5%;

        .Landing-features-single-div {
          width: 163px;
          margin: 40px;
          display: flex;
          justify-content: center;
          flex-direction: column;
  
          .Landing-features-icon {
            width: 200px;
            align-self: center;
          }
        }
      }
    }

    .Landing-creators {
      display: flex;
      flex-direction: row;
      background-color:  #18A493;
      justify-content: center;
      color: white;
      padding: 5em;
      
      .Landing-titles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 30px;
        text-align: left;
      }

      .Landing-names {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 5px;
        text-align: right;
        font-weight: bold;
      }

      .Landing-github-bunch {
        display: flex;
        flex-direction: column;

        .Landing-github {
          border: transparent;
          width: 40px;
        }

        .Landing-github:hover {
          width: 45px;
        }
        
      }
    }
  }
}






