body {
  // height: 100vh;
  width: 100%;
  min-width: 1000px;
  

  .Page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .Nav-functionality{ 
      display: flex;
      
    
      .Nav {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        color: white;
        
      }
    
      .Nav-logo-title {
        display: flex;
        align-items: center;
    
        .Nav-title {
          text-decoration: none;
          color: white;
          align-items: center;
          margin-left: 30px;
          padding-bottom: 20px;
        }
    
      }
    
      .Nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 30px;

        .Nav-button-background:hover {
          color: #1ECAAE;
          border-bottom-color: #1ECAAE;
          border-bottom-width: 5px;
          border-bottom-style: solid;
        }
    
        .Nav-button-background {
          background-color: black;
          border: none;
          height: 80px;
          padding: 0px;
          outline: none;
    
          .Nav-button {
            color: white;
            text-decoration: none;
            padding: 0px;
            margin-left: 20px;
            margin-right: 20px;
            border: none;
            height: 80px;
            padding-bottom: 20px;
          }

          .Nav-button:hover, .Nav-button:active {
         
            
            height: 80px;
        
          }

          
        }

        .avatar{
          background-color: black;
          border: none;
          height: 80px;
          padding: 0px;
          outline: none;
        }

        .avatar-image{
          width: 50px;
          height: 50px;
          margin-left: 20px;
        }


      } 
    }

    
    
    .Filter-Charts {
      display: flex;
      // justify-content: flex-start;
      min-height: calc(100vh - 80px);
      width: 100%;
      color: #F6F8FA;

      background-color: #F6F8FA;
      // height: 100%;
      align-items: stretch;
      height: max-content;

      .Filter {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        // height: 100%;
        justify-content: flex-start;

        
      

        .Filter-header {
          // margin-left: 10px;
          width: 100px;
          color: black;
        }

        .Autocomplete{
          display: flex;
          margin: 10px;
        }

        .Age {
          display: flex;
          justify-content: space-between;
          margin: 10px;
        }

        .Age-title {
          display: flex;
          align-items: center;
          color: rgb(118, 118, 118);
        }
         
        .Age-box {
          width: 53px;
          height: 56px;
          border-radius: 3px;
          color: rgb(118, 118, 118);
          border-color: rgb(195, 195, 195);
          font-size: 17px;
          padding-left: 6px;
          padding-right: 5px;
        }

        .Age-box:hover, Age-box:active{
          border-color: black;
        }

        .Search-button:hover, .Search-button:active {
          box-shadow: 0px 0px 5px 5px #E9EBEC;
        }

        .Search-button{ 
          margin:10px;
          width: 280px;
          height: 56px;
          background-color: #18A493;
          letter-spacing: 0.00938em;
          border-radius: 3px;
          border-color: #18A493;
          border: solid;
          border-width: 0px;
          font-size: 17px;
          font-weight: bold;
          color: white;
        }
      }

      .chose-city{
        align-self: center;
        color: #ff5d39;
        margin-left: 80px;
        margin-top: 10px;
      }

      .Charts-section{
        // display: flex;
        // flex-direction: column;
        width: calc(100%-350px);
        margin: 50px;
        background-color: #F6F8FA;
        // overflow:auto; 
        color:black;
       
      }

      // .Charts{
      //   width: 100%;
        
      // }

      .Chart{
        width: 80vh;
        // height: 80%;
        background-color: white;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
      }

      .category-buttons{
        margin-bottom: 20px;
        border-color: black;
      }

      .chart-buttons-all{
        display:flex;
        justify-content: space-between;
      }

      .save-search-button:hover, .save-search-button:active {
        box-shadow: 0px 0px 2px 2px lightgrey;
      }

      .save-search-button{
        height: 36px;
        border-radius: 3px;
        width: 100px;
        background-color: #18A493; 
        border-color: #18A493;
        border: solid;
        border-width: 0px;  
        color: white;
      }

      .facebook-api-error{
        margin: 100px;
        background-color: white;
        height: 400px;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
      }


    }

    .Access-page{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #F6F8FA;
      padding-top: 60px;
      min-height: calc(100vh - 80px);
      
      .Access-header{
        display: flex;
        margin-bottom: 10px;
        align-self: center;
        width: 100px;
      }
      .Access-form{
        width:280px;
        display:flex;
        flex-direction: column;
        box-shadow: 0px 0px 5px 5px #E9EBEC;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 3px;
        background-color: white;
        height: 320px;
      
        .Access-field{
            height: 56px;
            border-style: solid;
            border-width: thin;
            border-radius: 3px;
            color: rgb(118, 118, 118);
            border-color: rgb(195, 195, 195);
            font-size: 17px;
            padding-left:10px;
            margin:10px;
        }
        .Login-button{
            width: 260px;
            height: 56px;
            margin-left: 10px;
            margin-top:10px;
            background-color: #18A493;
            letter-spacing: 0.00938em;
            border-radius: 3px;
            border-color: #18A493;
            border: solid;
            border-width: 0px;
            font-size: 17px;
            font-weight: bold;
            color: white;
        }
      }
    }
  
    .Profile-save {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .Profile-page{
        display: flex;
        flex-direction: column;
        margin: 60px;
        margin-bottom: 50px;
    
        .Profile-header, .Profile-username{
          display: flex;
          align-self: center;
        }
    
        .Profile-header{
          margin-bottom: 15px;
        }
      }
    
      .Saved-data {
        display: flex;
        background-color: lightgrey;
        flex-direction: column;
        align-items: center;
        width: calc(80% - 200px);
        padding: 1em;
    
        .Saved-info {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 30px;
  
        }
        .Saved-info-label {
          margin: 1px;
        }
      }
    }
  }
}






